@model string
@{
    ViewBag.Title = "QRCode Generator";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>QRCode Payment Generator</h2>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }

        <form method="get" action="/Home/Create">
            <style>
                .col-wrap {
                    display: table;
                    width: 100%;
                }
                .col {
                    display: table-cell;
                }
                #bodyimage {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            </style>
            <div class="col-wrap">
                <div class="col">
                    <div>
                        <p>
                            <label for="bankcode">Mã ngân hàng <font color="red">(*)</font> <a target="_blank" href="https://docs.google.com/document/d/1hb_IW0MbdrdWABpEbxQP_nbz3Gsg4ZTvwkV9-qFq1tM/edit">[Tham khảo]</a> : </label>
                        </p>
                    </div>
                    <div>
                        <p>
                            <label for="accnumber">Số tài khoản <font color="red">(*)</font>: </label>
                        </p>
                    </div>
                    <div>
                        <p>
                            <label for="amount">Giá trị đơn hàng (<i>nếu có</i>):</label>
                        </p>
                    </div>
                    <div>
                        <p>
                            <label for="content">Nội dung thanh toán (<i>nếu có</i>):</label>
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <p>
                            <input type="text" id="bankcode" name="bankcode" value="@Model" />
                        </p>
                    </div>
                    <div>
                        <p>
                            <input type="text" id="accnumber" name="accnumber" value="@Model" />
                        </p>
                    </div>
                    <div>
                        <p>
                            <input type="text" id="amount" name="amount" value="@Model" />
                        </p>
                    </div>
                    <div>
                        <p>
                            <input type="text" id="content" name="content" value="@Model" />
                        </p>
                    </div>
                </div>
            </div>
            <p>
                <div>
                    <button type="submit" class="btn btn-primary">Khởi tạo</button>
                </div>
            </p>
        </form>
        @if (ViewBag.QrCodeImage != null)
        {
            <!-- Modal -->
            <div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="qrModalLabel">Kết quả tạo QRCode</h5>
                        </div>
                        <div class="modal-body" id="bodyimage">
                            <img id="qrCodeImage" src="@ViewBag.QrCodeImage" class="img-fluid" alt="QR Code" />
                        </div>
                        <div class="modal-footer">
                            <button id="closeButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $('#qrModal').modal('show');
                });
                $("#closeButton").click(function () {
                    $('#qrModal').modal('hide');
                });
            </script>
        }
    </div>
</body>
</html>